p {
    position: relative;
}

.employeeInfo {
    /* margin-left: 5%; */
    position: absolute;
    top: 25%;
}

img {
    height: 72px;
    width: 72px;
    margin: 14px auto;
}

.row {
    height: 100px;
}